/* colors */
$text-color: #3D3D3D;
$backgd-color: #6D6D6D;

body {
	color: $text-color;
	background-color: $backgd-color;
}

p {
    color: $text-color;
}

h2 {
    background-color: $backgd-color;
}
